asgiref
backports.zoneinfo
bidict
Django
django-cors-headers
djangorestframework
python-socketio
gunicorn
dnspython
eventlet==0.30.2
django-cors-headers
Pillow
greenlet
gunicorn
python-engineio
python-socketio
pytz
six
sqlparse